<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">

    <title>Arbor Woodshop | Register</title>
</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">
        <div id="site-title">
            <!-- <img src="icon.png" id="logo-image"/> -->
            <span><a th:href="@{/}" id="title">Arbor Woodshop</a></span>
            <span id="subtitle">Marketplace</span>
        </div>
        <div id="login-placeholder">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>

    <div id="moto">
        Wood crafted treasures. Local marketplace.
    </div>


    <div style="display:flex; margin-top:100px;">
        <h2 style="margin:auto;">Create an Account</h2>
    </div>


    <div style="display:flex; margin:auto; margin-top: 20px; width:300px;color:red" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>


    <div style="display:flex; margin-top:20px;">
        <form style="margin:auto;" action="register-user" method="POST">
            <label>email</label><br/>
            <input type="text" size="40" name="email"><br/>
            <label>password</label><br/>
            <input type="password" size="40" name="password"><br/>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div style="display:flex; margin:auto; margin-top: 20px; width:300px;">
        Already a member? <a th:href="@{/login}"> Login</a>
    </div>

    <!--
    <div style="margin: auto; width: 240px; height: 40px; margin-top: 50px; background-color: lightskyblue">Sign in with Google</div>
    -->


    <footer th:insert="~{_fragments/footer::footer}"></footer>


</div> <!-- .page-container -->
</body>

</html>