<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">

    <link rel="stylesheet" th:href="@{/main.css}" />

    <title>Arbor Woodshop | Sign up</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon.ico}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/image/favicon.ico}">
<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="relative min-h-[100vh]">
<div class="bg-yellow-500 min-h-10 hidden">This is a maintenance message</div>
    <header class="border-0 border-b-2 p-4 min-h-0 lg:flex lg:justify-between lg:min-h-[80px] lg:py-6 lg:px-28">

        <div id="" class="block text-2xl font-bold">
            <img class="inline align-top relative p-0 w-[45px] h-[40px]" th:src="@{/image/logo.png}" />
            <span><a th:href="@{/}" class="text-black visited:text-black no-underline text-4xl">Arbor Woodshop</a></span>
            <span class="text-mossgreen font-xs align-bottom">Indiana</span>
        </div>

        <div id="flex self-end mb-4">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>

    </header>

    <div id="moto">Wood crafted treasures. Local marketplace.</div>

    <div style="display:flex; margin-top:100px;">
        <h2 style="margin:auto;">Create an Account</h2>
    </div>


    <div style="display:flex; margin:auto; margin-top: 20px; width:300px;color:red" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>


    <div style="display:flex; margin-top:20px;">
        <form style="margin:auto;" action="register-user" method="POST">
            <label>email</label><br/>
            <input class="border-2" type="text" size="40" name="email"><br/>
            <label>password</label><br/>
            <input class="border-2" type="password" size="40" name="password"><br/>
            <button class="px-2 mt-2 py-1 bg-blue-100 rounded"  type="submit">Submit</button>
        </form>
    </div>

    <div style="display:flex; margin:auto; margin-top: 20px;" class="w-80">
        Already a member? <a th:href="@{/login}" class="pl-2"> Login</a>
    </div>

    <!--
    <div style="margin: auto; width: 240px; height: 40px; margin-top: 50px; background-color: lightskyblue">Sign in with Google</div>
    -->


    <footer class="absolute min-h-[80px] w-full bottom-0" th:insert="~{_fragments/footer::footer}"></footer>


</div> <!-- .page-container -->
</body>

</html>