<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">

    <title>Arbor Woodshop | Abuse</title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">
        <div id="site-title">
            <img th:src="@{/image/logo.png}" id="logo-image"/>
            <span><a th:href="@{/}" id="title">Arbor Woodshop</a></span>
            <span id="subtitle">Marketplace</span>
        </div>
        <div id="login-placeholder">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>

    <main class="servicePages content-footer-wrap">
        <h1>Abuse Reporting</h1>
        <pre>
1. Reporting Abuse

Arbor Woodshop is committed to providing a safe and respectful environment for all users. If you encounter any behavior that violates our Terms of Use or is abusive, harassing,
or illegal, please report it immediately.

2. Contacting Authorities

For any criminal activity or imminent threat to safety, please contact your local law enforcement agency immediately.

3. Reporting Process

To report abuse or inappropriate behavior:

	Send an email to [Abuse Email] with a detailed description of the incident.
	Include any relevant screenshots, messages, or other evidence.
	Our team will investigate the report promptly and take appropriate action.

4. Confidentiality

We take your privacy seriously. All reports of abuse will be kept confidential to the extent possible. However, in certain circumstances, we may need to share information with
law enforcement or other authorized entities.

5. Consequences for Abuse

Users found to be engaging in abusive behavior may have their accounts suspended or terminated. We reserve the right to take further legal action if necessary.

6. Working Together

We appreciate your help in keeping the Arbor Woodshop community safe and enjoyable for everyone. Together, we can create a positive and respectful marketplace experience.

			</pre>


    </main>


    <footer th:insert="~{_fragments/footer::footer}"></footer>


</div> <!-- .page-container -->

</body>

</html>