<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/user.css}">

    <title>Arbor Woodshop | Admin</title>
</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">
        <div id="site-title">
            <!-- <img src="icon.png" id="logo-image"/> -->
            <span><a th:href="@{/}" id="title">Arbor Woodshop</a></span>
            <span id="subtitle">Marketplace</span>
        </div>
        <div id="login-placeholder">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>

    <main class="user_mainContent content-footer-wrap">

        <nav id="user_leftNavBar">
            <div class="user_navBarLinks">
                <div class="user-links"><a th:href="@{/admin/admin-dashboard}">Admin&nbspDashboard</a></div>
                <div class="user-links"><a th:href="@{/admin/support-tasks}">Support&nbspTasks</a></div>
                <div class="user-links"><a th:href="@{/admin/manage-users}">Manage&nbspContent</a></div>
            </div>
        </nav>


        <section class="userSection content-flex-stretch">
            <h3>Administrator Dashboard</h3><br/>

            <!-- TODO implement metadata, manage content, support tasks -->




            <div class="userListingCard">
                <div class="userListingCard__img">
                </div>
                <div class="userListingCard__desc">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam, cumque
                </div>
            </div>
            <div class="userListingCard">
                <div class="userListingCard__img">
                </div>
                <div class="userListingCard__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat.
                    consectetur adipisicing elit. Placeat. consectetur adipisicing elit. Placeat.
                </div>
            </div>
            <div class="userListingCard">
                <div class="userListingCard__img">
                </div>
                <div class="userListingCard__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ad voluptates libero.
                    adipisicing elit. Magni ad voluptates libero.
                </div>
            </div>
        </section>
    </main>

    <footer id="footer" th:insert="~{_fragments/footer::footer}"></footer>

</div> <!-- .page-container -->
</body>

</html>