<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/user.css}">

    <link rel="stylesheet" th:href="@{/main.css}" />
    <title>Arbor Woodshop | User Profile Settings</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon.ico}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/image/favicon.ico}">
<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="relative min-h-[100vh]">
<div class="bg-yellow-500 min-h-10 hidden">This is a maintenance message</div>
    <header class="border-0 border-b-2 p-4 min-h-0 lg:flex lg:justify-between lg:min-h-[80px] lg:py-6 lg:px-28">
        <div id="" class="block text-2xl font-bold">
            <img class="inline align-top relative p-0 w-[45px] h-[40px]" th:src="@{/image/logo.png}" />
            <span><a th:href="@{/}" class="text-black visited:text-black no-underline text-4xl">Arbor Woodshop</a></span>
            <span class="text-mossgreen font-xs align-bottom">Indiana</span>
        </div>
        <div id="flex self-end mb-4">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>


    <main class="user_mainContent  pb-80 xl:pb-12 2xl:pb-7">

        <nav id="user_leftNavBar" th:insert="~{_fragments/navigation::user-navbar}"></nav>

        <section class="userSection  pl-8 grow pr-0 2xl:pr-[200px]">
            <h3 class="font-bold">Account Settings</h3><br/>


            <form action="#">
                <label>name</label><br/>
                <input id="myin" type="text" size=30 disabled value="Timmy Von Others"><br/>

                <label>email</label><br/>
                <input class="border-2" type="text" size=30 disabled th:value="${username}"><br/>

                <label>password</label><br/>
                <input type="password" size=30 disabled value="qwerhgfjlkjsddgf"><br/>

                <input type="submit" onclick="save()" id="submit-btn" style="display:none" value="submit">
                <button id="edit-btn" onclick="able()">Edit Preferences</button>

            </form>

            <script>
					function able(){
						var x = document.querySelectorAll("#myin");
						for(const elt of x) elt.disabled = !elt.disabled;

						document.getElementById("submit-btn").style.display = "inline";
						document.getElementById("edit-btn").style.display = "none";
						
					}

					function save(){
						var x = document.querySelectorAll("#myin");
						for(const elt of x) elt.disabled = true;
						document.getElementById("submit-btn").style.display = "none";
						document.getElementById("edit-btn").style.display = "inline";
					}


            </script>
        </section>


    </main>


    <footer class="absolute min-h-[80px] w-full bottom-0" th:insert="~{_fragments/footer::footer}"></footer>


</div> <!-- .page-container -->
</body>

</html></title>
</head>
<body>

</body>
</html>