<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/user.css}">

    <link rel="stylesheet" th:href="@{/main.css}" />

    <title>Arbor Woodshop | Messages</title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="relative min-h-[100vh]">
<div class="bg-yellow-500 min-h-10 hidden">This is a maintenance message</div>
    <header class="border-0 border-b-2 p-4 min-h-0 lg:flex lg:justify-between lg:min-h-[80px] lg:py-6 lg:px-28">
        <div id="" class="block text-2xl font-bold">
            <img class="inline align-top relative p-0 w-[45px] h-[40px]" th:src="@{/image/logo.png}" />
            <span><a th:href="@{/}" class="text-black visited:text-black no-underline text-4xl">Arbor Woodshop</a></span>
            <span class="text-mossgreen font-xs align-bottom">Indiana</span>
        </div>
        <div id="flex self-end mb-4">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>


    <main class="user_mainContent  pb-80 xl:pb-12 2xl:pb-7">

        <nav id="user_leftNavBar" th:insert="~{_fragments/navigation::user-navbar}"></nav>

        <section class="userSection  pl-8 grow pr-0 2xl:pr-[200px]"<!--content-flex-stretch-->
            <h3 class="font-bold">Messages</h3>
            <ul th:each="message : ${messages}">
                <li th:utext="'<a>[delete] </a>' + ${message.message}"></li>
            </ul>
            <br><br>
            <p>
            <ul>
                <li>provide messaging in app</li>
                <li>provide anonymous p2p texting</li>
                <li>provide anonymous p2p emailing</li>
                <li>show seller phone/email to users</li>
            </ul>
            </p>

        </section>

    </main>

    <footer class="absolute min-h-[80px] w-full bottom-0" th:insert="~{_fragments/footer::footer}"></footer>


</div> <!-- .page-container -->
</body>

</html>