<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/user.css}">

    <title>Arbor Woodshop | User Profile Settings</title>
</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">
        <div id="site-title">
            <img src="icon.png" id="logo-image"/>
            <span><a th:href="@{/}" id="title">Arbor Woodshop</a></span>
            <span id="subtitle">Marketplace</span>
        </div>
        <div id="login-placeholder">
            <a th:href="@{/user/messages}" style="margin-right:20px;">Messages</a>
            <a th:href="@{/user/dashboard}" style="margin-right:20px;">Dashboard</a>
            <a th:href="@{/login}" style="margin-right:20px;">login</a>
            <a th:href="@{/login/register}" style="margin-right:20px;">sign up</a>
        </div>
    </header>


    <main class="user_mainContent content-footer-wrap">

        <nav id="user_leftNavBar" th:insert="~{_fragments/user-navbar::user-navbar}"></nav>

        <section class="userSection content-flex-stretch">
            <h3>Profile Settings</h3><br/>


            <form action="#">
                <label>name</label><br/>
                <input id="myin" type="text" size=30 disabled value="Timmy Von Others"><br/>

                <label>email</label><br/>
                <input id="myin" type="text" size=30 disabled value="timmyvon19@gmail.com"><br/>

                <label>password</label><br/>
                <input id="myin" type="password" size=30 disabled value="qwerhgfjlkjsddgf"><br/>

                <input type="submit" onclick="save()" id="submit-btn" style="display:none" value="submit">
                <button id="edit-btn" onclick="able()">Edit Preferences</button>

            </form>

            <script>
					function able(){
						var x = document.querySelectorAll("#myin");
						for(const elt of x) elt.disabled = !elt.disabled;

						document.getElementById("submit-btn").style.display = "inline";
						document.getElementById("edit-btn").style.display = "none";
						
					}

					function save(){
						var x = document.querySelectorAll("#myin");
						for(const elt of x) elt.disabled = true;
						document.getElementById("submit-btn").style.display = "none";
						document.getElementById("edit-btn").style.display = "inline";
					}


            </script>
        </section>


    </main>


    <footer id="footer" th:insert="~{_fragments/footer::footer}"></footer>


</div> <!-- .page-container -->
</body>

</html></title>
</head>
<body>

</body>
</html>