<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Store</title>
    <link th:href="@{/styles/layout.css}" rel="stylesheet" />
</head>
<body>

<header>
    <h1>Arbor Woodshop</h1>
</header>
<nav>
    <ul>
        <li><a th:href="@{'/'}">Home</a></li>
        <li><a th:href="@{'/user'}">User Page</a></li>
        <li><a th:href="@{'/admin'}">Admin Page</a></li>
        <li><a th:href="@{'/login'}">Login</a></li>
        <li><a th:href="@{'/logout'}">Logout</a></li>
    </ul>
</nav>

<main>
    <h1>User Page</h1>
    <div>
        My listings
        <ul>
            <li><img src="https://i.etsystatic.com/19117533/r/il/db48a9/2687778029/il_fullxfull.2687778029_e5uf.jpg" style="width:300px; height:300px;"\></li>
            <li>sdfsdf</li>
            <li>sdfsdf</li>
            <li>sdfasfasdlfasd</li>
            <li>3htiuhsdf</li>
        </ul>
    </div>
    <p th:text="${username}"></p>
    <img src="https://i.etsystatic.com/19117533/r/il/db48a9/2687778029/il_fullxfull.2687778029_e5uf.jpg" style="width:300px; height:300px;"\>
</main>
</body>
</html>

