:root {
	--footer-height: 80px;

	--pallete-mossgreen: rgb(145, 150, 83);
	--pallete-bluegray: rgb(107, 91, 154);
	--pallete-blueyonder: rgb(83, 119, 150);
	--pallete-pine: rgb(91, 154, 138);
	--pallete-link-blue: #4d4de7;
	--pallete-visitedLink-purple: #912faf;
	--pallete-activeLink-red: #FF0000;
}

html {  box-sizing: border-box;  font-size: 16px; font-family: arial;}
*, *:before, *:after {  box-sizing: inherit;}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {  margin: 0;  padding: 0;  font-weight: normal;}
ol, ul {  list-style: none;}
img {  max-width: 100%;  height: auto;}


a:link { color: var(--pallete-link-blue);}
a:visited {color: var(--pallete-visitedLink-purple);}
a:active {color: var(--pallete-activeLink-red);}


* {
	/* outline: 1px solid var(--pallete-pine); */
}


 /* keep footer down */
/*
.page-container {
	position: relative;
	min-height: 100vh;
}
*/

/******************* HEADER *****************************/
/*
.header {
	border-bottom: 1px solid rgb(226, 226, 226);
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	min-height:80px;
}

#site-title {
	font-size: 2.3rem;
	font-weight:bold;
	display:block;
}

#logo-image {
	width: 45px; height: 40px;
	padding-right: 0px;
	position: relative;
	top:7px;
}

#site-title #title {
	text-decoration: none;
	color:black;
	padding-right: 0px;
}

#subtitle {
	color: var(--pallete-mossgreen);
	font-size: 1.6rem;
}
*/

/*
 #login-placeholder{
	align-self:flex-end;
	display:flex;
	margin-bottom: 10px;
}
*/

.account-link {
    margin-right: 20px;
    padding: 4px;
}
#moto {
	padding: 8px 12%;
	font-size: 1.4rem;
	font-style: italic;
	font-family: arial;
	color: rgb(30, 71, 71);
}

@media screen and (max-width: 1000px){
	/*
	#site-title{
		font-size: 1.5rem;
	}
	*/
	#account-link-messages {
	    display: none;
	}
	#moto {
		padding: 4px 0% 4px 3%;
		font-size: 1.0rem;
	}
	/*
	.header {
		padding: 8px 2% 8px 4%;
		min-height: 0px;
	}
	*/
}
@media screen and (max-width: 470px){
	html {
		font-size: 15px;
	}
	#title {
		font-size: 1.4rem;
	}
	#subtitle {
		font-size: .8em;
	}
	.account-link {
	    display: block;
	    padding-top: 5px;
	}
	#moto{
		font-size: 1rem;
	}
}




/*************************** MAIN CONTENT **************************/

/*
.main_content {
	display:flex;
	width: 95%;
	margin:auto;
}
*/
/*
.content-flex-stretch {
	flex-grow: 1;
	padding-right: 320px;
}
*/
/* content on the service pages*/
.servicePages {
	padding-top: 20px;
	width: 85%;
	margin:auto;
}
.servicePages pre{
	padding-top: 20px;
	padding-left:40px;
}

/*
@media screen and (max-width: 1000px){

	.main_content {
		display:block;
		width: 100%;
		margin: 0px;
	}


}
@media screen and (max-width: 1800px){

	.content-flex-stretch {
		padding-right: 200px;
	}

}
@media (max-width: 1400px){

	.content-flex-stretch{
		padding-right: 0;
	}

}
*/



/******************************* FOOTER ******************************/

/* add to last container in main content before the footer */
/*
.content-footer-wrap {
	padding-bottom: var(--footer-height);
}

#footer {
	display:flex;
	justify-content: space-between;
	padding-top: 20px;
	position:absolute;
	bottom: 0;
	width: 100%;
	color:white;
	background-color: var(--pallete-blueyonder);
	min-height: var(--footer-height);
}

.footer_links {
	min-width: 600px;
	display:flex;
	justify-content: space-between;
	padding: 0px 70px;
}

.footer-listing, .footer-listing a{
    line-height: 1.5rem;
	color:white;
}

.footer_copyright {
	margin: 0px 70px;
}
*/
/*
@media screen and (max-width: 1300px){

	.footer-listing, .footer-listing a {
		line-height: 1.8rem;
	}

	#footer {
		flex-direction: column;
		padding: 10px 0px;
	}

	.content-footer-wrap {
		padding-bottom: 190px;

	}

	.footer_links {
		flex-direction: column;
		min-width: 0;
		padding: 0px 40px;
	}
	.footer_copyright {
		margin: 0px 40px;
	}

}
@media screen and (max-width: 600px){
	.content-footer-wrap {
		padding-bottom: 290px;
	}
}
*/