
 .local_mainContentPad {
	margin-top: 5px;
 }
.local_resultsContainer {
	padding-left: 30px;
}
#left-nav-bar {
	display:flex;
	flex-direction: column;

	min-width:240px;
	margin-top: 20px;
	padding-top:30px;
	padding-left: 30px;

	background: rgb(230, 230, 230);
	/* min-height: 930px; */
}
.local_categories {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
}
.category-tag {
	line-height: 1.3rem;
}

#local_listing-content {
    padding-top: 15px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 3rem 2rem;
}

.local_listing-card {
	min-height: 220px;
	background-color: rgba(232, 235, 232, 0.486);
	outline: 2px solid rgb(218, 218, 218);
	margin:10px;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;
	padding: 5px 0px 0px 5px;
}

@media screen and (max-width: 1800px){
	#local_listing-content {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 1400px){

	#local_listing-content {
		gap: 1rem 1rem;
	}
}
@media screen and (max-width: 1000px){

	#left-nav-bar {
		min-height: 0;
		padding: 5px 10px;
        display: block;
        margin-top: 5px;
	}
	#local_category-title {
		/* display: none; */
		font-size: 1rem;
	}
	.local_categories {
		display: block;
		margin-top: 5px;
	}
	.category-tag {
		display:inline;
		margin: 10px;
		line-height: 1.5rem;
	}

	#local_listing-content {
		grid-template-columns: repeat(3, 1fr);
	}
	.local_listing-card{
		height:180px;
		margin:  3px 5px;
	}
}


@media screen and (max-width: 670px){

	#local_listing-content {
		grid-template-columns: repeat(2, 1fr);
		gap: 0 0;
	}
}
