<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover wood craft artisans at a local marketplace.">
    <meta name="keywords" content="Hand Crafted Marketplace, Woodworking Marketplace, Custom Products, Local Marketplace">

    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <link rel="stylesheet" th:href="@{/main.css}" />

<!-- <script type="text/javascript" th:src="@{/js/api-test.js}"></script> -->

    <title>Arbor Woodshop | Wood crafted treasures. Local marketplace.</title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">

        <div id="site-title">

            <img th:src="@{/image/logo.png}" id="logo-image"/>

            <span><a th:href="@{/}" id="title">Arbor Woodshop</a></span>
            <span id="subtitle">Indiana</span>
        </div>

        <div id="login-placeholder">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>

    </header>

<!--    <a style="width: 100px; margin:auto; align-items: center;" th:href="@{/marketplace/browse}">Visit the Marketplace</a>-->

    <div class="bg-red-500">testingtestingtesting</div>
    <main id="index_main-content" class="content-footer-wrap">

        <!-- location section -->
        <div class="card-section">

            <div class="top-card main-top-card">
                <div class="card-title-wrap">
                    <div class="card-title-a">Wood&nbspcrafted&nbsptreasures.</div>
                    <div class="card-title-b">Local&nbspmarketplace.</div>
                </div>

                <p>
                    Discover the craftsmanship of nearby artisans with our local marketplace. Find and acquire
                    stunning wood crafted pieces from talented local makers in your area. Explore a diverse
                    collection, championing the creativity and skill of woodworkers right in your community.
                </p>

                <a class="main-card-mkplace" th:href="@{/marketplace/browse}">View the marketplace</a>
            </div>


            <div class="top-card become-seller-card">
                <h2>Become a seller</h2>
                <p>
                    Elevate your passion for craftsmanship by becoming a seller through our monthly membership.
                    Seamlessly transition from buyer to entrepreneur, showcasing your own wood crafted creations
                    to a community eager to discover and support local talent.
                </p>
                <a class="become-seller-link" th:href="@{/become-a-seller}">learn more</a>
            </div>


        </div>








        <section class="seller-offer-wrapper" >

            <div style="display:flex; justify-content: space-between; padding-bottom: 20px;">
                <div class="category-title"><span style="font-size: 1.3rem;">Seller Offers</span></div>
                <span><a class="view-all-link" th:href="@{/marketplace/browse}" >view all</a></span>
            </div>
            <div class="offer-card-wrapper">


                <a th:href="@{/marketplace/browse}" class="local_item-card-link">
                    <div class="local_item-card" style="background-image: url('image/31.jpg');">
                        <div class="xyz" style="padding: 2px 16px; color:black; backdrop-filter: blur(2px);border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>
                <a th:href="@{/marketplace/browse}" class="local_item-card-link">
                    <div class="local_item-card" style="background-image: url('image/7.jpg');">
                        <div class="xyz" style="padding: 2px 16px; color:black; backdrop-filter: blur(2px); border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>
                <a th:href="@{/marketplace/browse}" class="local_item-card-link offer-card-x">
                    <div class="local_item-card" style="background-image: url('image/41.jpg');" >
                        <div class="xyz" style="padding: 2px 16px; color:black; backdrop-filter: blur(2px); border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse}" class="local_item-card-link offer-card-y">
                    <div class="local_item-card"style="background-image: url('image/42.jpg');">
                        <div class="xyz" style="padding: 2px 16px; color:black; backdrop-filter: blur(2px); border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse}" class="local_item-card-link offer-card-z">
                    <div class="local_item-card"style="background-image: url('image/27.jpg');">
                        <div class="xyz" style="padding: 2px 16px; color:black; backdrop-filter: blur(2px); border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



            </div>

        </section>



        <div class="seek-sellers">
            <h2 style="font-size: 3rem; font-weight: bold; margin:30px;">Seeking Suppliers</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, adipisci nobis. Non quo, assumenda
                illum veritatis labore omnis alias quam eum aperiam beatae eos repudiandae iusto deserunt debitis?
                Quas, laudantium. <a class="become-seller-link" th:href="@{/become-a-seller}">become a seller</a>
            </p>
        </div>
    </main>


    <footer th:insert="~{_fragments/footer::footer}"></footer>

</div> <!-- .page-container -->

</body>

</html>