<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/styles/layout.css}" rel="stylesheet" />
</head>
<body>

<header>
    <h1>Arbor Woodshop</h1>
<!--    <span sec:authentication="principal.username">Username</span>-->


</header>
<nav>
    <ul>
        <li><a th:href="@{'/'}">Home</a></li>
        <li><a th:href="@{'/user'}">User Page</a></li>
        <li><a th:href="@{'/admin'}">Admin Page</a></li>
        <li><a th:href="@{'/login'}">Login</a></li>
        <li><a th:href="@{'/logout'}">Logout</a></li>
    </ul>
</nav>
<main>

    <span>Welcome to The Arbor Woodcraft Shop</span><form><input type="text"/></form>


    <div class="banner" style="width: 80%; margin:auto; min-height: 200px; background-color:#347474">

        <h3>Crafted Elegance, Timeless Woodwork Charm</h3>
        <h3>Woodcraft Shopping: Timeless & Tailored</h3>
        <h3>Buy Bespoke: Beauty in Wood</h3>
        <h3>Shop Crafted, Live Cozy</h3>
        <h3>Wood Wonders: Buy, Behold, Belong</h3>
        <h3>Elegance Awaits: Shop Woodcraft</h3>
        <h3>Nature's Own: Shop Wood Treasures</h3>
        <h3>Acquire Artisanal: Woodcrafted Elegance</h3>
        <h3>Heirlooms Await: Your Woodcraft Shop</h3>
        <h3>Treasures in Timber: Shop Now</h3>
        <h3>Woodcraft Shopping: Timeless & Tailored</h3>
        <h3>Discover, Shop, Cherish: Wood Elegance</h3>


    </div>
    <h2>What is Lorem Ipsum?</h2><br/>
    <p style="width: 60%;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
    </p>
</main>
</body>
</html>



