<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover wood craft artisans at a local marketplace.">
    <meta name="keywords" content="Hand Crafted Marketplace, Woodworking Marketplace, Custom Products, Local Marketplace">

    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <link rel="stylesheet" th:href="@{/main.css}" />

    <title>Arbor Woodshop | Wood crafted treasures. Local marketplace.</title>

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon.ico}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/image/favicon.ico}">
<link rel="shortcut icon" th:href="@{/image/favicon.ico}">

</head>

<body>
<div class="relative min-h-[100vh]">
    <div class="bg-yellow-500 min-h-10 hidden">This is a maintenance message</div>

    <header class="border-0 border-b-2 p-4 min-h-0 lg:flex lg:justify-between lg:min-h-[80px] lg:py-6 lg:px-28">
        <div id="" class="block text-2xl font-bold">
            <img class="inline align-top relative p-0 w-[45px] h-[40px]" th:src="@{/image/logo.png}" />
            <span><a href="#" th:href="@{/}" class="text-black visited:text-black no-underline text-4xl">Arbor Woodshop</a></span>
            <span class="text-mossgreen font-xs align-bottom">Indiana</span>
        </div>
        <div id="flex self-end mb-4">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>

    <div id="moto">Wood crafted treasures. Local marketplace.</div>

    <main class="w-full max-w-[1500px] m-auto pb-80 xl:pb-12 2xl:pb-40">


        <!-- SEARCH -->
        <form class="block">
            <input type="text"
                   style="padding:7px 7px 7px 30px; margin-top:13px;border-radius:20px;outline:1px solid rgb(210, 210, 210);background-color:rgb(250,250,250); font-size:1.2rem;"
                   class="w-full"
                   placeholder="Search your local marketplace" />
        </form>


        <!-- TOP TWO CARDS -->
        <div class="flex min-h-[300px] mx-5 my-0 sm:mt-[50px] sm:mb-[70px] sm:mx-auto">

            <div class="p-7 md:p-12 m-3  rounded-lg shadow-2xl outline outline-1 outline-verylightblue">
                <div class="text-2xl">
                    <div class="pl-0 block md:inline md:pl-7">Wood&nbspcrafted&nbsptreasures.</div>
                    <div class="block pl-20 md:pl-0 md:inline">Local&nbspmarketplace.</div>
                </div>

                <p class="py-5 px-0 md:py-10">
                    Discover the craftsmanship of nearby artisans with our local marketplace. Find and acquire
                    stunning wood crafted pieces from talented local makers in your area. Explore a diverse
                    collection, championing the creativity and skill of woodworkers right in your community.
                </p>

                <a class="text-2xl float-right no-underline hover:underline" th:href="@{/marketplace/browse/site}">Visit the marketplace</a>
            </div>


            <div class="p-7 md:p-12 m-3  rounded-lg shadow-2xl hidden md:block outline outline-1 outline-verylightblue">
                <h2 class="text-2xl text -center">Seeking Suppliers</h2>
                <p class="py-5 px-0 md:py-10">
                    Elevate your passion for craftsmanship by becoming a seller.
                    Seamlessly transition to entrepreneur, showcasing your own wood crafted creations
                    to a community eager to discover and support local talent.
                </p>
                <a class="float-right no-underline hover:underline" th:href="@{/login/register}">get started</a>
            </div>

        </div>

        <!-- categories section -->
        <!--
        <section class="my-0 mx-6">
            <div class="my-8">
                <div class="text-xl">Shop Categories</div>
                <div th:each="index : ${#numbers.sequence(0, #arrays.length(categoriesLinks)-1)}"
                     class="inline-block p-4 m-4 rounded outline outline-1 outline-slate-500 bg-no-repeat bg-contain bg-top">
                    <a th:href="@{'/marketplace/browse?category=' + ${categoriesLinks[index]} + '&site=' + ${site}}"
                       th:text="${categoriesDisplay[index]}"
                       class="font-bold text-slate-500 visited:text-slate-500"></a>
                </div>
            </div>
        </section>
        -->

        <!-- SELLER OFFERS -->
        <section class="my-0 mx-6 w-[93%] mx-auto">

            <div class="flex justify-between pb-4" >
                <div class="text-xl">Seller Offers</div>
                <div><a class="no-underline hover:underline" th:href="@{/marketplace/browse/site}" >view all</a></div>
            </div>

            <div class="mb-[70px] grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-3.5 gap-y-5 xl:gap-y-7">


                <a th:href="@{/marketplace/browse/site}" class=" shadow-2xl rounded-md p-2">
                    <div class="flex items-end w-[90%] my-3 mx-auto min-h-[240px] xl:min-h-[300px] rounded outline outline-1 outline-verylightblue bg-gray bg-no-repeat bg-contain bg-top"
                         style="background-image: url('image/31.jpg');">
                        <div style="padding: 2px 16px; color:black; backdrop-filter: blur(2px);border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>
                <a th:href="@{/marketplace/browse/site}" class=" shadow-2xl rounded-md p-2">
                    <div class="flex items-end w-[90%] my-3 mx-auto min-h-[240px] xl:min-h-[300px] rounded outline outline-1 outline-verylightblue bg-gray bg-no-repeat bg-contain bg-top"
                         style="background-image: url('image/7.jpg');">
                        <div style="padding: 2px 16px; color:black; backdrop-filter: blur(2px); border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>
                <a th:href="@{/marketplace/browse/site}" class=" shadow-2xl rounded-md p-2 hidden sm:block "><!-- offer-card-x -->
                    <div class="flex items-end w-[90%] my-3 mx-auto min-h-[240px] xl:min-h-[300px] rounded outline outline-1 outline-verylightblue bg-gray bg-no-repeat bg-contain bg-top"
                         style="background-image: url('image/41.jpg');" >
                        <div style="padding: 2px 16px; color:black; backdrop-filter: blur(2px); border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/site}" class=" shadow-2xl rounded-md p-2 hidden md:block"><!-- offer-card-y -->
                    <div class="flex items-end w-[90%] my-3 mx-auto min-h-[240px] xl:min-h-[300px] rounded outline outline-1 outline-verylightblue bg-gray bg-no-repeat bg-contain bg-top"
                         style="background-image: url('image/42.jpg');">
                        <div style="padding: 2px 16px; color:black; backdrop-filter: blur(2px); border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/site}" class=" shadow-2xl rounded-md p-2 hidden xl:block "><!--offer-card-z-->
                    <div class="flex items-end w-[90%] my-3 mx-auto min-h-[240px] xl:min-h-[300px] rounded outline outline-1 outline-verylightblue bg-gray bg-no-repeat bg-contain bg-top"
                         style="background-image: url('image/27.jpg');">
                        <div style="padding: 2px 16px; color:black; backdrop-filter: blur(2px); border-radius:5px; background-color:rgba(232, 235, 232, 0.185); ">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

            </div>

        </section>

        <!-- SEEKING SUPPLIERS -->
        <div class="text-xl  m-auto mt-8 shadow-2xl rounded-md p-4 min-h-[300px] outline outline-1 outline-verylightblue">
            <h2 class="text-5xl font-bold m-4">Seeking Suppliers</h2>
            <p class="py-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, adipisci nobis. Non quo, assumenda
                illum veritatis labore omnis alias quam eum aperiam beatae eos repudiandae iusto deserunt debitis?
                Quas, laudantium.
                </p>
                <a class="float-right no-underline hover:underline text-blue-700" th:href="@{/login/register}">start selling</a>

        </div>
    </main>

    <!-- FOOTER -->
    <footer class="absolute min-h-[80px] w-full bottom-0" th:insert="~{_fragments/footer::footer}"></footer>

</div>

</body>

</html>