<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbor Woodshop | Wood crafted treasures. Local marketplace</title>

    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/item.css">
</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">
        <div id="site-title">
            <img src="icon.png" id="logo-image" />
            <span><a th:href="@{/}" id="title">Arbor Woodshop</a></span>
            <span id="subtitle">Fort&nbspWayne</span>
        </div>
        <div id="login-placeholder">
            <a href="user-messages.html" style="margin-right:20px;">Messages</a>
            <a href="user-dashboard.html" style="margin-right:20px;">Dashboard</a>
            <!-- <a href="login.html" style="margin-right:20px;">login</a> -->
            <!-- <a href="register.html" style="margin-right:20px;">sign up</a> -->
        </div>
    </header>

    <div id="moto">
        Wood crafted treasures. Local marketplace.
    </div>




    <div class="main_content content-footer-wrap">


        <section class="viewItemSection">

            <!-- TODO add contact information-->
            <div class="viewItemCard">

                <img
                        class="viewItemCard__img"
                        style="background-color: gray;"
                        src="img/45.jpg"
                >
                <p>$120</p>
                <p class="viewItemCard__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nulla molestiae, rerum ipsa commodi laudantium dolores esse a illum illo et praesentium harum.
                </p>
            </div>

        </section>
    </div>

    <footer id="footer">
        <div class="footer_links">
            <div class="footer-item"><a href="about.html">about</a></div>
            <div class="footer-item"><a href="avoiding-scams.html">avoiding scams</a></div>
            <div class="footer-item"><a href="abuse.html">abuse</a></div>
            <div class="footer-item"><a href="terms-of-use.html">terms of use</a></div>
        </div>
        <div class="footer-item footer_copyright">&#169; 2024 PaytonWebDesign. All rights reserved </div>
    </footer>


</div> <!-- .page-container -->
</body>

</html>