<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/listing.css}">

    <link rel="stylesheet" th:href="@{/main.css}" />

    <script sec:authorize="isAuthenticated()" th:inline="javascript">var apiUrl = /*[[${api_url}]]*/;</script>
    <script defer type="text/javascript" th:src="@{/js/listing-send-message.1.0.js}"></script>

    <title>Arbor Woodshop | Wood crafted treasures. Local marketplace.</title>

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon.ico}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{/image/favicon.ico}">
<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="relative min-h-[100vh]">
    <div class="bg-yellow-500 min-h-10 hidden">This is a maintenance message</div>

    <header class="border-0 border-b-2 p-4 min-h-0 lg:flex lg:justify-between lg:min-h-[80px] lg:py-6 lg:px-28">
        <div id="" class="block text-2xl font-bold">
            <img class="inline align-top relative p-0 w-[45px] h-[40px]" th:src="@{/image/logo.png}" />
            <span><a th:href="@{/}" href="#" onclick="event.preventDefault();" class="text-black visited:text-black no-underline text-4xl">Arbor Woodshop</a></span>
            <span class="text-mossgreen font-xs align-bottom">Indiana</span>
        </div>
        <div id="flex self-end mb-4">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>

    <div id="moto">Wood crafted treasures. Local marketplace.</div>

    <div class="block w-full m-0 lg:flex lg:m-auto lg:w-[95%] pb-80 xl:pb-12 2xl:pb-7">
        <section class="viewListingSection">



            <div class="viewListingCard">
                <div class="font-bold" th:utext="${listing.title}"></div>
                <div th:utext="${listing.location}"></div>
                <img class="viewListingCard__img" style="background-color: gray;" th:src="${listing.imageOne}">

                <img th:if="${listing.imageTwo != null && !#strings.isEmpty(listing.imageTwo)}" class="inline" th:src="@{${listing.imageTwo}}" alt="" width="125" height="125" />
                <img th:if="${listing.imageThree != null && !#strings.isEmpty(listing.imageThree)}" class="inline" th:src="@{${listing.imageThree}}" alt="" width="125" height="125" />

                <p th:text="${listing.price}"></p>
                <p class="viewListingCard__description" th:text="${listing.description}"></p>


                <div th:unless="${userId} == ${listing.userId}">
                    <div sec:authorize="isAnonymous()">
                        <button id="myAnonymousBtn" class="px-1 py-1 mx-2 my-2 bg-blue-100 rounded">Send a message - Sign in</button>
                        <button id="myBtn" hidden></button>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <button id="myAnonymousBtn" hidden></button>
                        <button id="myBtn" class="px-1 py-1 mx-2 my-2 bg-blue-100 rounded">Send a message</button>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="modal-form">
                            <form id="sendMesageForm" action="/message" method="POST">

                                <input type="hidden" id="fromUserId" name="fromUserId" th:value="${userId}">
                                <input type="hidden" id="toUserId" name="toUserId" th:value="${listing.userId}">
                                <input type="hidden" id="listingId" name="listingId" th:value="${listing.listingId}">

                                <p>From: YourUsername</p><br>
                                <p th:utext="'Title: ' + ${listing.title}"></p><br>
                                <label for="message">Message</label><br/>
                                <textarea class="border-2" rows="4" cols="50" id="message" name="message"></textarea><br><br>
                                <input class="px-2 mt-2 py-1 bg-blue-100 rounded" type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>


            </div>

        </section>
    </div>

    <footer class="absolute min-h-[80px] w-full bottom-0"  th:insert="~{_fragments/footer::footer}"></footer>


</div> <!-- .page-container -->
</body>

</html>