<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/listing.css}">

    <title>Arbor Woodshop | Wood crafted treasures. Local marketplace.</title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">
        <div id="site-title">
            <img th:src="@{/image/logo.png}" id="logo-image"/>
            <span><span id="title">Arbor Woodshop</span></span>
            <span id="subtitle">Fort&nbspWayne</span>
        </div>

        <div id="login-placeholder">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>

    <div id="moto">Wood crafted treasures. Local marketplace.</div>

    <div class="main_content content-footer-wrap">

        <section class="viewListingSection">

            <!-- TODO add listing contact information to the messages-->
            <div class="viewListingCard">
                <img
                        class="viewListingCard__img"
                        style="background-color: gray;"
                        src="/image/45.jpg"
                >
                <p th:text="${listing.price}"></p>
                <p class="viewListingCard__description" th:text="${listing.description}"></p>
            </div>

        </section>
    </div>

    <footer id="footer"  th:insert="~{_fragments/footer::footer}"></footer>


</div> <!-- .page-container -->
</body>

</html>