<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/listing.css}">

    <title>Arbor Woodshop | Wood crafted treasures. Local marketplace.</title>
</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">
        <div id="site-title">
            <img src="icon.png" id="logo-image" />
            <span><a th:href="@{/}" id="title">Arbor Woodshop</a></span>
            <span id="subtitle">Fort&nbspWayne</span>
        </div>

        <div id="login-placeholder">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>

    <div id="moto">
        Wood crafted treasures. Local marketplace.
    </div>

    <div class="main_content content-footer-wrap">

        <section class="viewListingSection">

            <!-- TODO add listing contact information to the messages-->
            <div class="viewListingCard">

                <img
                        class="viewListingCard__img"
                        style="background-color: gray;"
                        src="/image/45.jpg"
                >
                <p>$120</p>
                <p class="viewListingCard__description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nulla molestiae, rerum ipsa commodi laudantium dolores esse a illum illo et praesentium harum.
                </p>
            </div>

        </section>
    </div>

    <footer id="footer"  th:insert="~{_fragments/footer::footer}"></footer>


</div> <!-- .page-container -->
</body>

</html>