<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/local.css}">

    <title>Arbor Woodshop | Fort Wayne</title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">
        <div id="site-title">
            <img th:src="@{/image/logo.png}" id="logo-image"/>
            <span><a th:href="@{/}" id="title">Arbor Woodshop</a></span>
            <span id="subtitle">Fort&nbspWayne</span>
        </div>
        <div id="login-placeholder">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>

    <div id="moto">Wood crafted treasures. Local marketplace.</div>

    <main class="main_content content-footer-wrap local_mainContentPad">

        <nav id="left-nav-bar">

            <span th:if="${false}">
                <!--
                <h3 id="local_category-title">Shop by Category</h3>
                <div class="local_categories">
                    <div class="category-tag"><a href="#">Furniture</a></div>
                    <div class="category-tag"><a href="#">Decorative</a></div>
                    <div class="category-tag"><a href="#">Storage</a></div>
                    <div class="category-tag"><a href="#">Outdoor Items</a></div>
                    <div class="category-tag"><a href="#">Games&nbsp&&nbspToys</a></div>
                    <div class="category-tag"><a href="#">Tools&nbsp&&nbspAccessories</a></div>
                    <div class="category-tag"><a href="#">Other</a></div>
                </div>
                -->
            </span>

        </nav>

        <section class="local_resultsContainer content-flex-stretch">

            <div id="local_listing-content">

<!--------------------------------------------------------------------------------------------------------------------->
                    <!----- LISTINGS ------>
<!--------------------------------------------------------------------------------------------------------------------->
                <a th:each="listing : ${listings}" th:href="@{/marketplace/browse/listing(listing=${listing.id})}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end; background-image: url('/image/27.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b th:text="'$' + ${listing.price}"></b></h4>
                            <p th:text="${listing.title}"></p>
                        </div>
                    </div>
                </a>
<!--------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------->

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end; background-image: url('/image/27.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/25.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/24.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/45.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/47.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/19.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/3.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/44.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end; background-image: url('/image/46.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/47.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/48.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/49.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end; background-image: url('/image/43.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/33.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end; background-image: url('/image/22.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/34.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/36.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/22.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/24.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end; background-image: url('/image/31.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/29.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/28.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end; background-image: url('/image/27.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/25.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/24.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/66.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/47.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/19.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/55.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end; background-image: url('/image/43.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/22.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/34.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/45.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end; background-image: url('/image/65.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/37.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/47.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/65.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/45.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="local_listing-card"
                         style="display:flex; align-items: flex-end;  background-image: url('/image/45.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



            </div>
        </section>



        <!-- <nav id="right-nav-bar" style="min-width:100px; padding-top: 30px; background-color: rgb(255, 255, 255);">			</nav> -->


    </main>

    <footer id="footer"  th:insert="~{_fragments/footer::footer}"></footer>

</div> <!-- .page-container -->
</body>

</html>