<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/local.css}">

    <link rel="stylesheet" th:href="@{/main.css}" />

    <title>Arbor Woodshop | Indiana</title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon.ico}">
</head>

<body>
<div class="relative min-h-[100vh]">
<div class="bg-yellow-500 min-h-10 hidden">This is a maintenance message</div>

    <header class="border-0 border-b-2 p-4 min-h-0 lg:flex lg:justify-between lg:min-h-[80px] lg:py-6 lg:px-28">
        <div id="" class="block text-2xl font-bold">
            <img class="inline align-top relative p-0 w-[45px] h-[40px]" th:src="@{/image/logo.png}" />
            <span><a th:href="@{/}" class="text-black visited:text-black no-underline text-4xl">Arbor Woodshop</a></span>
            <span class="text-mossgreen font-xs align-bottom">Indiana</span>
        </div>
        <div id="flex self-end mb-4">
            <div th:insert="~{_fragments/navigation::account-navbar}"></div>
        </div>
    </header>

    <div id="moto">Wood crafted treasures. Local marketplace.</div>

    <main class="block w-full m-0 lg:flex lg:m-auto lg:w-[95%] mt-1 pb-80 xl:pb-14 2xl:pb-20">

        <nav class="min-h-0 py-1 px-2.5 block mt-1 lg:flex lg:flex-col min-w-[240px] lg:mt-5 lg:pt-8 pl-8 bg-gray-100">

            <span th:if="${false}">
                <!--
                <h3 id="local_category-title">Shop by Category</h3>
                <div class="local_categories">
                    <div class="category-tag"><a href="#">Furniture</a></div>
                    <div class="category-tag"><a href="#">Decorative</a></div>
                    <div class="category-tag"><a href="#">Storage</a></div>
                    <div class="category-tag"><a href="#">Outdoor Items</a></div>
                    <div class="category-tag"><a href="#">Games&nbsp&&nbspToys</a></div>
                    <div class="category-tag"><a href="#">Tools&nbsp&&nbspAccessories</a></div>
                    <div class="category-tag"><a href="#">Other</a></div>
                </div>
                -->
            </span>

        </nav>

        <section class="pl-8 grow pr-0 2xl:pr-[200px]"> <!--content-flex-stretch-->

            <div id="local_listing-content">

<!--------------------------------------------------------------------------------------------------------------------->
                    <!----- LISTINGS ------>
<!--------------------------------------------------------------------------------------------------------------------->
                <a th:each="listing : ${listings}" th:href="@{/marketplace/browse/listing(listing=${listing.listingId})}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         th:style="'background-image:url(' + ${listing.imageOne} + ');'">
<!--                         style="background-image: url('/image/27.jpg');">&lt;!&ndash;local_listing-card&ndash;&gt;-->
                        <div style="padding:2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b th:text="'$' + ${listing.price}"></b></h4>
                            <p th:text="${listing.title}"></p>
                        </div>
                    </div>
                </a>


<!--------------------------------------------------------------------------------------------------------------------->
                <!----- FAKE LISTINGS -->
<!--------------------------------------------------------------------------------------------------------------------->
                <!--
                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/27.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/25.jpg');">
                        <div
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/24.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/45.jpg');">
                        <div
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/47.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/19.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/3.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/44.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/46.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/47.jpg');">
                        <div
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/48.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/49.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/43.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/33.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/22.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/34.jpg');">
                        <div
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/36.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/22.jpg');">
                        <div
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/24.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/31.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/29.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/28.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/27.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/25.jpg');">
                        <div
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/24.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/66.jpg');">
                        <div
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/47.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/19.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/55.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/43.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/22.jpg');">
                        <div
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/34.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/45.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/65.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/37.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/47.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/65.jpg');">
                        <div
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/45.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a th:href="@{/marketplace/browse/listing?listing=3}">
                    <div class="flex items-end min-h-[180px] my-1 mx-1.5 lg:min-h-[220px] bg-gray-100 lg:m-2.5 pt-1 pr-0 pb-0 pl-1 bg-top bg-contain bg-no-repeat"
                         style="background-image: url('/image/45.jpg');">
                        <div
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                --> <!-- END FAKE LISTINGS -->

            </div>
        </section>



        <!-- <nav id="right-nav-bar" style="min-width:100px; padding-top: 30px; background-color: rgb(255, 255, 255);">			</nav> -->


    </main>

    <footer class="absolute min-h-[80px] w-full bottom-0" th:insert="~{_fragments/footer::footer}"></footer>

</div> <!-- .page-container -->
</body>

</html>