<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbor Woodshop | Fort Wayne</title>

    <!-- <link rel="stylesheet" href="layout.css"> -->
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/local.css">


</head>

<body>
<div class="page-container">
    <div class="website-alert">This is a maintenance message</div>

    <header class="header">
        <div id="site-title">
            <img src="icon.png" id="logo-image" />
            <span><a th:href="@{/}" id="title">Arbor Woodshop</a></span>
            <span id="subtitle">Fort&nbspWayne</span>
        </div>
        <div id="login-placeholder">
            <a href="user-messages.html" style="margin-right:20px;">Messages</a>
            <a href="user-dashboard.html" style="margin-right:20px;">Dashboard</a>
            <!-- <a href="login.html" style="margin-right:20px;">login</a> -->
            <!-- <a href="register.html" style="margin-right:20px;">sign up</a> -->
        </div>
    </header>

    <!-- moto text -->
    <div id="moto">
        Wood crafted treasures. Local marketplace.
    </div>




    <main class="main_content content-footer-wrap local_mainContentPad">


        <nav id="left-nav-bar">

            <h3 id="local_category-title">Shop by Category</h3>
            <div class="local_categories">
                <div class="category-tag"><a href="#">Furniture</a></div>
                <div class="category-tag"><a href="#">Decorative</a></div>
                <div class="category-tag"><a href="#">Storage</a></div>
                <div class="category-tag"><a href="#">Outdoor Items</a></div>
                <div class="category-tag"><a href="#">Games&nbsp&&nbspToys</a></div>
                <div class="category-tag"><a href="#">Tools&nbsp&&nbspAccessories</a></div>
                <div class="category-tag"><a href="#">Other</a></div>
            </div>

        </nav>


        <section class="local_resultsContainer content-flex-stretch">
            <form>
                <input type="text" id="local_search-input" placeholder="Search your local marketplace" />
            </form>

            <div id="local_item-content">

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end; background-image: url('img/27.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/25.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/24.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/54.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/56.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/19.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/3.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/44.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end; background-image: url('img/46.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/47.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/48.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/49.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end; background-image: url('img/43.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/33.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end; background-image: url('img/22.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/34.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/36.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/68.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/67.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end; background-image: url('img/31.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/29.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/28.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end; background-image: url('img/27.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/25.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/24.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/66.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/56.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/19.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/55.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end; background-image: url('img/43.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>


                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/22.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/34.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/54.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end; background-image: url('img/65.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/37.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/56.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/65.jpg');">
                        <div class="xyz"
                             style=" color:rgb(37, 37, 37); backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/45.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>

                <a href="item.html">
                    <div class="local_item-card"
                         style="display:flex; align-items: flex-end;  background-image: url('img/54.jpg');">
                        <div class="xyz"
                             style="padding: 2px 16px; color:black; backdrop-filter: grayscale(80%);background-color: rgba(255, 255, 255, 0.5);">
                            <h4><b>$100</b></h4>
                            <p>Hand Crafted Table</p>
                        </div>
                    </div>
                </a>



            </div>
        </section>



        <!-- <nav id="right-nav-bar" style="min-width:100px; padding-top: 30px; background-color: rgb(255, 255, 255);">			</nav> -->


    </main>

    <footer id="footer">
        <div class="footer_links">
            <div class="footer-item"><a href="about.html">about</a></div>
            <div class="footer-item"><a href="avoiding-scams.html">avoiding scams</a></div>
            <div class="footer-item"><a href="abuse.html">abuse</a></div>
            <div class="footer-item"><a href="terms-of-use.html">terms of use</a></div>
        </div>
        <div class="footer-item footer_copyright">&#169; 2024 PaytonWebDesign. All rights reserved </div>
    </footer>

</div> <!-- .page-container -->
</body>

</html>