<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/layout.css}" rel="stylesheet" />

</head>
<body>
<header>
    <h1>Arbor Woodshop</h1>
</header>
<nav>
    <ul>
        <li><a th:href="@{'/'}">Home</a></li>
        <li><a th:href="@{'/user'}">User Page</a></li>
        <li><a th:href="@{'/admin'}">Admin Page</a></li>
        <li><a th:href="@{'/login'}">Login</a></li>
        <li><a th:href="@{'/logout'}">Logout</a></li>
    </ul>
</nav>
<main>

<div style="width: 400px; margin:auto">
    <h1>Please Log In</h1>
    <div th:if="${param.error}">
        Invalid username and password.</div>
    <div th:if="${param.logout}">
        You have been logged out.</div>
    <form th:action="@{/login}" method="post">
        <div>
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <input type="submit" value="Log in" />
    </form>
    <a th:href="@{'/login/register'}">Sign up as a new user</a><br/>

</div>

</main>
</body>

</html>