

<div  th:fragment="footer" id="footer">
    <div class="footer_links">
        <div class="footer-listing"><a th:href="@{/service/about}">about</a></div>
        <div class="footer-listing"><a th:href="@{/service/avoiding-scams}">avoiding scams</a></div>
        <div class="footer-listing"><a th:href="@{/service/abuse}">abuse</a></div>
        <div class="footer-listing"><a th:href="@{/service/terms-of-use}">terms of use</a></div>
    </div>
    <div class="footer-listing footer_copyright">&#169; 2024 Arbor&nbspWoodshop</div>
</div>