



<div  th:fragment="footer" class="flex justify-between pt-4">
    <div class="min-w-[600px] flex justify-between py-0 px-16">
        <div class="text-white leading-6"><a th:href="@{/service/about}" class="hover:underline">about</a></div>
        <div class="text-white leading-6"><a th:href="@{/service/avoiding-scams}" class="hover:underline">avoiding scams</a></div>
        <div class="text-white leading-6"><a th:href="@{/service/abuse}" class="hover:underline">abuse</a></div>
        <div class="text-white leading-6"><a th:href="@{/service/terms-of-use}" class="hover:underline">terms of use</a></div>
    </div>
    <div class="text-gray-600 leading-6 my-0 mx-16">&#169; 2024 ArborWoodshop</div>
</div>