<div th:fragment="account-navbar">
    <div sec:authorize="isAnonymous()">
        <a th:href="@{/user/listings/create-listing}" class="account-link">Sell</a>
        <a th:href="@{/login}" class="account-link">Sign in</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a th:if="${isSeller}" th:href="@{/user/messages}" class="account-link" id="account-link-messages">Messages</a>
        <a th:href="@{/user/listings/create-listing}" class="account-link">Sell</a>
        <a th:href="@{/user/dashboard}" class="account-link" >Dashboard</a>
        <a th:href="@{/login/account-logout}" class="account-link" >Logout</a>
    </div>
</div>




<div   th:fragment="user-navbar"  class="user_navBarLinks">
    <div th:if="${isSeller}" class="user-links"><a th:href="@{/user/dashboard}">Dashboard</a></div>
    <div th:if="${isSeller}" class="user-links"><a th:href="@{/user/messages}">Messages</a></div>
    <div th:if="${isSeller}" class="user-links"><a th:href="@{/user/listings/create-listing}">List&nbspAn&nbspItem</a></div>
    <div class="user-links"><a th:href="@{/user/account-settings}">Account&nbspSettings</a></div>
</div>



