

<div   th:fragment="user-navbar"  class="user_navBarLinks">
  <div class="user-links"><a th:href="@{/user/dashboard}">Saved Items</a></div>
  <div class="user-links"><a th:href="@{/user/preferences}">Preferences</a></div>
  <div class="user-links"><a th:href="@{/user/become-a-seller}">Become a Seller</a></div>
  &nbsp<br/>
  <div class="user-links"><a th:href="@{/user/messages}">Messages</a></div>
  &nbsp<br/>
  <div class="user-links"><a th:href="@{/user/listings}">Your Listings</a></div>
  <div class="user-links"><a th:href="@{/user/listings/create-listing}">List An Item</a></div>
  <div class="user-links"><a th:href="@{/user/manage-subscription}">Manage Subscription</a></div>
</div>