/* ANOTHER PALATE OPTION
.first-color { 	background: #084177; }
.second-color { 	background: #687466; }
.third-color { 	background: #cd8d7b; }
.fourth-color { 	background: #fbc490; }
*/




/* HTML RESET */
html {  box-sizing: border-box;  font-size: 16px;}
*, *:before, *:after {  box-sizing: inherit;}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {  margin: 0;  padding: 0;  font-weight: normal;}
ol, ul {  list-style: none;}
img {  max-width: 100%;  height: auto;}



/*   MAIN  */
body {
    background-color: #42b883;
    font-family: Times, serif;
}
header {
    padding-top: 20px;
    font-size: 1.6em;
    text-align: center;
    width: 100%;
    height: 150px;
    color: white;
    background-color: #347474;
}
header h1 {
    padding-top: 20px;
}
main {
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
nav {
    background-color: #35495e;
    height: 60px;
    padding-left: 100px;
    padding-top: 15px;
    color: white;
}
ul li {
    background-color: #ff7e67;
    display: inline;
    padding: 10px 10px;
    margin-right: 20px;


}
a {
    color: charcoal;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px;
}
.banner h3 {
    padding-bottom: 10px;
    font-size: 0.9em;
    font-family: fantasy, ui-rounded;
}

/* REGISTER FORM */
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
    input[type=radio] {
        margin-left: 45px;
    }
    input[type=checkbox] {
        margin-right: 190px;
    }
    button {
        padding: 5px;
        margin: 10px;
    }
